Options +Indexes
Options +FollowSymLinks

RewriteEngine On

#RewriteBase /api
RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /includes/index.php [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api(.*)$ /includes/index.php$1 [L,QSA]


RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]
RewriteRule . /index.php [L,QSA]
